/*Fuente predeterminada*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Variables*/
:root {
    --color-primario: #0A3871; 
    --color-secundario: #F3F5FC;
    --color-terciario: #22D4FD;
    --color-cuaternario: #495057;
    --color-botones: #D8DFE8;
    --color-hover: #272727;
    --fuente-Inter: 'Inter', sans-serif;
}
body{
    background-color: var(--color-secundario);
    font-family: var(--fuente-Inter);
}
.flex-contenedor {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content:center;
}
/*Logo*/
.logo{
    position: absolute;
    left: 40px;
    top: 40px;
    width: 120px;
    height: 48px;
}
.ingresar_texto{
    position: relative;
    top: 80px;
    left: 40;
    width: 690px;
    height: 648px;
} 
.mostrar_texto{ 
    position: relative;
    top: 80px;
    left: 40;
    width: 577px;
    height: 648px;  
} 
textarea {
    width: 90%;
    height: 500px;
    padding: 1rem;
    border: none;
    border-radius: 48px;
    background-color: transparent;
    margin-bottom: 1rem;
    font-size: 2rem;     
}

#texto_entrada::placeholder {
    color: var(--color-primario);
    font-size: 32px;
    font-weight: regular;
}

.mensaje_usuario{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}
.icono_exc{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    position: absolute;
    left: 0px;
    top: 560px;
} 
.mensaje_usuario p {
    position: absolute;
    left: 20px;
    top: 550px;
    width: 500px;
    height: 18px;
    font-size: 12px;
    color: var(--color-cuaternario);
} 
.botones {
    position: absolute;
    left: 0px;
    top: 580px;
    width: 640px;
    height: 67px;
    display: flex;
    justify-content:left;
    gap: 1rem;
}
#boton_encriptar, #boton_desencriptar {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
}

.boton_deshabilitado {
    padding: 0rem 1rem;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease, transform 0.1s ease, opacity 0.3s ease;
    flex: 1%;
    background-color: var(--color-botones);
    color: var(--color-primario);    
}
.boton_deshabilitado.apagado {
    opacity: 0.5;
    cursor: not-allowed;
} 

/* Efecto hover solo para botones habilitados */
.boton_deshabilitado:not(.apagado):hover {
    background-color: var(--color-primario);
    color: var(--color-botones); 
    transform: scale(1.17);    
} 
/* Efecto al hacer clic solo para botones habilitados */
.boton_deshabilitado:not(.apagado):active {
    transform: scale(0.95);
} 

/* Estilos para el contenedor de resultados */
 #textoResultado {
    background-color: var(--color-secundario);;
    border-radius: 24px;
    text-align: center;
    box-shadow: 24px 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 40px;
    top: 0px;
    width: 400px;
    height: 724px;
} 

/* Estilos para la imagen del muñeco */
#imagenMuneco {
    position: absolute;
    right: 40px;
    top: 113px;
    width: 336px;
    height: 304px;
} 

/* Estilos para el texto de "no mensaje" */
#textoSinEncriptar {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    right: 40px;
    top: 419px;
    width: 336px;
    height: 122px;
} 
/* Estilos para el texto de instrucción */
#instruccionesUsuario {  
    color: var(--color-cuaternario);
    position: absolute;
    right: 40px;
    top: 520px;
    width: 336px;
    height: 48px; 
} 

/* Ocultar inicialmente el área de texto de salida y el botón de copiar */
#texto_encriptado, #botonCopiarTexto {
    display: none;
}

/* Área de texto de salida */
#texto_encriptado {
    font-size: 24px;
    background-color: var(--color-secundario);
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
} 

/* Botón para copiar el texto */
#botonCopiarTexto {
    position: absolute;
    right: 50px;
    top: 580px;
    width: 350px;
    height: 58px;
    font-size: 16px;
    padding: 0rem 1rem;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease, opacity 0.3s ease;
    flex: 1%;
    background-color: var(--color-botones);
    color: var(--color-primario); 
} 

footer {
    position: relative;
    top: 150px;
    left: 0px;
    text-align: center;
    padding: .07rem;
    background-color: var(--color-terciario);

}

@media (max-width: 1210px){
    
    .logo{
        left: 10px;
        top: 10px;
    }
    textarea{
        width: auto;
    }
    .botones {
        display: flex;
        justify-content: center;
        top: 330px;
    }
    #imagenMuneco{
        visibility: hidden;
    }
    #texto_entrada{
        width: 90%;
        height: 200px;
    }
    #textoResultado {
        width: 630px;
        height: 200px;
        right: 10px;
    }
    .ingresar_texto{
        height: 400px;
    }
    .mostrar_texto{
        height: 200px;
    }
    .icono_exc{
        top: 310px;
    } 
    .mensaje_usuario p{
        top:300px;
    }
    #textoSinEncriptar {
        width: 90%;
        top:10px;
        font-size: 24px;
    }     
    #instruccionesUsuario{
        top:50%;
        left: 30px;
        font-size: 16px;
        width: 90%;
    } 
    #botonCopiarTexto {
        width: 90%;
        height: 20%;
        top: 210px;
        left: 10px;
    }    
}
@media (max-width: 768px){
    .botones {
        width: 90%;
    }
    #imagenMuneco{
        visibility: hidden;
    }
    textarea{
        width: auto;
    }
    #texto_entrada{
        width: 90%;
        height: 200px;
    }
    #textoResultado {
        width: 90%;
        height: 200px;
        right: 25px;
    }
    #textoSinEncriptar {
        width: 90%;
        top:10px;
        font-size: 24px;
    }     
    #instruccionesUsuario{
        font-size: 16px;
    }
    #botonCopiarTexto {
        width: 90%;
        height: 20%;
        top: 210px;
        left: 10px;
    }
}
@media (max-width: 375px){
    .botones {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    textarea {
        width: 90%;
        height: 100%;
    }
    #textoResultado {
        top: 50px;
    }
    .mostrar_texto{
        top:130px;
    }
    #textoSinEncriptar {
        left: 5%;
    }
    #botonCopiarTexto {
        width: 90%;
        height: 20%;
        top: 210px;
        left: 10px;
    }
    footer {
        top: 170px;
    }
} 