@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primario: #0A3871; 
    --color-secundario: #F3F5FC;
    --color-terciario: #22D4FD;
    --color-hover: #272727;
    --fuente-Inter: 'Inter', sans-serif;
}
body{
    background-color: var(--color-secundario);
}

.footer{
    color:var(--color-primario);
    background-color: var(--color-terciario);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-Inter);
    font-size: 1.5rem;
    font-weight: 400;
}